

.dropdownbtn {
    background: none;
    border: none;
    color:white;
    cursor: pointer;
    padding: 0;
}

.btn-flat:focus {
    background-color: rgba(0,0,0,0);  
}

button:focus {
    background-color: rgba(0,0,0,0);
}

.dropdown.active > .dropdownbtn,
.dropdownbtn:hover {
    color: black;
}

.dropdown {
    position: relative;
    margin-right: 60px;
}

.dropdown-menu {
    position: absolute;
    width: max-content;
    right: 0;
    top: calc(100% + .25rem);
    color: black;
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-content {
    color: black;
}

nav i.material-icons {
    line-height: 34px;
}

nav ul li {
    float: none;
}

nav ul li:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropdown.active > .dropdownbtn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.main-form{
    margin: 50px 0;
    position: relative;
    text-align: center;
    padding: 50px 200px;
    background-color: rgb(241, 235, 235);
}

p{
    margin: 20px;
}

form{
    margin: 0 200px;
}

form input[type="text"]::placeholder{
    text-align: center;
    color: rgb(97, 97, 97);
}

button{
    background-color: salmon;
    border-style: hidden;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
}

.results-row{
    background-color: white;
    padding: 0 50px;
    width: 100%;
}

.results-row ul{
    padding: 15px 0;
}

.results-row p{
    padding: 15px;
    font-size: 20px;
}

.results-main{
    position: relative;
    text-align: center;
    background-color: rgb(241, 235, 235);
    padding: 15px;
}

.row div{
    height: 200px;
}

/* Media query for SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px){
    .main-form{
        padding: 50px 150px;
    }

    form input[type="text"]::placeholder{
        font-size: smaller;
    }
}

/* Media query for TABLETS AND SMALLER */
@media screen and (max-width: 768px){
    form{
        margin: 0 100px;
    }
}

/* Media query for MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){
    .main-form{
        padding: 50px;
    }
}